@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:#CDC1FF;
    color: #6b55da;
    font-family: "Sour Gummy", serif; size: ;
    font-size: larger;
    
}
h1{
    text-align: center;
}
main{
    margin: 20px;
}
.navbar{
    position: sticky ;
    top:0px
}
.navbar ul{
  list-style-type: none;
  background-color: #6b55da;
  padding:0px;
  margin: 0px;
  overflow: hidden; 
  box-shadow: 5px 10px 15px #423e59;
} 
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}   
.navbar a:hover{
    background-color: #ffc1fb;
    color: #6b55da;
}
.navbar li{
    float: left;
}
#hello{
    background-color: aliceblue;

    text-align:center
}
.text-right{ text-align: right;}
#picofme { 
    border-style: double;
    border-width: 10px;
    border-color: #6b55da;
    display:block;
    margin-left: auto;
    margin-right: auto;

}
#hola { display: flex ; 
align-items: center;
} 
#texthola{ max-width: 700px;;
justify-content: space-evenly;
}
.project {display: flex; justify-content: space-around;
border-bottom: 10px solid #ffc1fb;
margin-top: 50px;
}
.project:nth-child(even){
    flex-direction: row-reverse;}
.form{
    margin-left: 255px;}
#formtittle{
 text-align: center;   
}
input{ 
    color: #6b55da;

}
.alive {
    background-color: #ffc1fb;
    padding: 10px;
    overflow: hidden; 
    box-shadow: ;

}
.nteo { display: flex;
    justify-content: space-around;
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }