@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:#CDC1FF;
    color: #6b55da;
    font-family: "Sour Gummy", serif;
}
h1{
    text-align: center;
}
main{
    margin: 20px;
}
.navbar ul{
  list-style-type: none;
  background-color: #6b55da;
  padding:0px;
  margin: 0px;
  overflow: hidden; 
  box-shadow: 5px 10px 15px #423e59;
} 
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}   
.navbar a:hover{
    background-color: #ffc1fb;
    color: #6b55da;
}
.navbar li{
    float: left;
}