@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:#CDC1FF;
    color: #6b55da;
    font-family: "Sour Gummy", serif;
}